<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Ask me – Responsive Questions and Answers Template</title>
    <meta name="description" content="Ask me Responsive Questions and Answers Template">
    <meta name="author" content="vbegy">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Main Style -->
    <link rel="stylesheet" href="../assets/style.css">

    <!-- Skins -->
    <link rel="stylesheet" href="../assets/css/skins/skins.css">

    <!-- Responsive Style -->
    <link rel="stylesheet" href="../assets/css/responsive.css">

    <!-- Dark Style -->
    <link rel="stylesheet" href="../assets/css/dark.css">

    <!-- Favicons -->
    <link rel="shortcut icon" href="../assets/images/favicon.png">

</head>
<body>
{% block nav %}
    {% include 'nav.html.twig' %}
{% endblock %}
{% block breadcrumbs %}
    {% include 'breadcrumbs.html.twig' %}
{% endblock %}
{% block body %}{% endblock %}

{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}
</body>
</html>
