<footer id="footer">
    <section class="container">
    </section><!-- End container -->
</footer><!-- End footer -->
<footer id="footer-bottom">
    <section class="container">
        <div class="copyrights f_left">Copyright 2014 Ask me | <a href="#">By 2code</a></div>
    </section><!-- End container -->
</footer><!-- End footer-bottom -->
</div><!-- End wrap -->

<div class="go-up"><i class="icon-chevron-up"></i></div>

<!-- js -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="../assets/js/jquery.easing.1.3.min.js"></script>
<script src="../assets/js/html5.js"></script>
<script src="../assets/js/twitter/jquery.tweet.js"></script>
<script src="../assets/js/jflickrfeed.min.js"></script>
<script src="../assets/js/jquery.inview.min.js"></script>
<script src="../assets/js/jquery.tipsy.js"></script>
<script src="../assets/js/tabs.js"></script>
<script src="../assets/js/jquery.flexslider.js"></script>
<script src="../assets/js/jquery.prettyPhoto.js"></script>
<script src="../assets/js/jquery.carouFredSel-6.2.1-packed.js"></script>
<script src="../assets/js/jquery.scrollTo.js"></script>
<script src="../assets/js/jquery.nav.js"></script>
<script src="../assets/js/tags.js"></script>
<script src="../assets/js/jquery.bxslider.min.js"></script>
<script src="../assets/js/custom.js"></script>
<!-- End js -->

</body>
</html>