{% extends 'base.html.twig' %}

{% block title %}Blog du dev{% endblock %}

{% block body %}
    <section class="container main-content">
        <div class="row">
            <div class="col-md-9">
                <article class="post clearfix">
                    <div class="post-inner">
                        <div class="post-img"><a href="single_post.html"><img src="http://placehold.it/810x500/222/FFF"
                                                                              alt=""></a></div>
                        <h2 class="post-title"><span class="post-type"><i class="icon-picture"></i></span><a
                                    href="single_post.html">This is a Standard Post.</a></h2>
                        <div class="post-meta">
                            <span class="meta-author"><i class="icon-user"></i><a href="#">Administrator</a></span>
                            <span class="meta-date"><i class="icon-time"></i>September 30 , 2013</span>
                            <span class="meta-categories"><i class="icon-suitcase"></i><a href="#">Wordpress</a></span>
                            <span class="meta-comment"><i class="icon-comments-alt"></i><a
                                        href="#">15 comments</a></span>
                        </div>
                        <div class="post-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio,
                                sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequat.
                                Vivamus vulputate posuere nisl quis consequat. Donec congue commodo mi, sed commodo
                                velit fringilla ac. Fusce placerat venenatis mi.</p>
                            <a href="single_post.html" class="post-read-more button color small">Continue reading</a>
                        </div><!-- End post-content -->
                    </div><!-- End post-inner -->
                </article><!-- End article.post -->

                <div class="pagination">
                    <a href="#" class="prev-button"><i class="icon-angle-left"></i></a>
                    <span class="current">1</span>
                    <a href="#" class="next-button"><i class="icon-angle-right"></i></a>
                </div><!-- End pagination -->
            </div><!-- End main -->
            <aside class="col-md-3 sidebar">
                <div class="widget widget_login">
                    <h3 class="widget_title">Login</h3>
                    <div class="form-style form-style-2">
                        <form>
                            <div class="form-inputs clearfix">
                                <p class="login-text">
                                    <input type="text" value="Username"
                                           onfocus="if (this.value == 'Username') {this.value = '';}"
                                           onblur="if (this.value == '') {this.value = 'Username';}">
                                    <i class="icon-user"></i>
                                </p>
                                <p class="login-password">
                                    <input type="password" value="Password"
                                           onfocus="if (this.value == 'Password') {this.value = '';}"
                                           onblur="if (this.value == '') {this.value = 'Password';}">
                                    <i class="icon-lock"></i>
                                    <a href="#">Forget</a>
                                </p>
                            </div>
                            <p class="form-submit login-submit">
                                <input type="submit" value="Log in" class="button color small login-submit submit">
                            </p>
                            <div class="rememberme">
                                <label><input type="checkbox" checked="checked"> Remember Me</label>
                            </div>
                        </form>
                        <ul class="login-links login-links-r">
                            <li><a href="#">Register</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="widget widget_tag_cloud">
                    <h3 class="widget_title">Tags</h3>
                    <a href="#">projects</a>
                    <a href="#">Portfolio</a>
                    <a href="#">Wordpress</a>
                    <a href="#">Html</a>
                    <a href="#">Css</a>
                    <a href="#">jQuery</a>
                    <a href="#">2code</a>
                    <a href="#">vbegy</a>
                </div>
            </aside><!-- End sidebar -->
        </div><!-- End row -->
    </section><!-- End container -->
{% endblock %}
