<div id="wrap" class="grid_1200">

    <div class="login-panel">
        <section class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="page-content">
                        <h2>Login</h2>
                        <div class="form-style form-style-3">
                            <form>
                                <div class="form-inputs clearfix">
                                    <p class="login-text">
                                        <input type="text" value="Username"
                                               onfocus="if (this.value == 'Username') {this.value = '';}"
                                               onblur="if (this.value == '') {this.value = 'Username';}">
                                        <i class="icon-user"></i>
                                    </p>
                                    <p class="login-password">
                                        <input type="password" value="Password"
                                               onfocus="if (this.value == 'Password') {this.value = '';}"
                                               onblur="if (this.value == '') {this.value = 'Password';}">
                                        <i class="icon-lock"></i>
                                        <a href="#">Forget</a>
                                    </p>
                                </div>
                                <p class="form-submit login-submit">
                                    <input type="submit" value="Log in" class="button color small login-submit submit">
                                </p>
                                <div class="rememberme">
                                    <label><input type="checkbox" checked="checked"> Remember Me</label>
                                </div>
                            </form>
                        </div>
                    </div><!-- End page-content -->
                </div><!-- End col-md-6 -->
                <div class="col-md-6">
                    <div class="page-content Register">
                        <h2>Register Now</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravdio, sit amet
                            suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequa. Vivamus vulputate
                            posuere nisl quis consequat.</p>
                        <a class="button color small signup">Create an account</a>
                    </div><!-- End page-content -->
                </div><!-- End col-md-6 -->
            </div>
        </section>
    </div><!-- End login-panel -->

    <div class="panel-pop" id="signup">
        <h2>Register Now<i class="icon-remove"></i></h2>
        <div class="form-style form-style-3">
            <form action="../includes/new-user.php" method="POST">
                <div class="form-inputs clearfix">
                    <p>
                        <label id="username" class="required">Username<span>*</span></label>
                        <input type="text" name="username">
                    </p>
                    <p>
                        <label id="email" class="required">E-Mail<span>*</span></label>
                        <input type="email" name="email">
                    </p>
                    <p>
                        <label id="password" class="required">Password<span>*</span></label>
                        <input type="password" name="password">
                    </p>
                    <p>
                        <label id="confirmPassword" class="required">Confirm Password<span>*</span></label>
                        <input type="password" name="confirmPassword">
                    </p>
                </div>
                <p class="form-submit">
                    <input type="submit" name="signup" value="Signup" class="button color small submit">
                </p>
            </form>
        </div>
    </div><!-- End signup -->

    <div class="panel-pop" id="lost-password">
        <h2>Lost Password<i class="icon-remove"></i></h2>
        <div class="form-style form-style-3">
            <p>Lost your password? Please enter your username and email address. You will receive a link to create a new
                password via email.</p>
            <form>
                <div class="form-inputs clearfix">
                    <p>
                        <label class="required">Username<span>*</span></label>
                        <input type="text">
                    </p>
                    <p>
                        <label class="required">E-Mail<span>*</span></label>
                        <input type="email">
                    </p>
                </div>
                <p class="form-submit">
                    <input type="submit" value="Reset" class="button color small submit">
                </p>
            </form>
            <div class="clearfix"></div>
        </div>
    </div><!-- End lost-password -->

    <div id="header-top">
        <section class="container clearfix">
            <nav class="header-top-nav">
                <ul>
                    <li><a href="#"><i class="icon-envelope"></i>Contact</a></li>
                    <li><a href="#"><i class="icon-headphones"></i>Support</a></li>
                    <li><a href="#" id="login-panel"><i class="icon-user"></i>Login Area</a></li>
                </ul>
            </nav>
            <div class="header-search">
                <form>
                    <input type="text" value="Search here ..." onfocus="if(this.value=='Search here ...')this.value='';"
                           onblur="if(this.value=='')this.value='Search here ...';">
                    <button type="submit" class="search-submit"></button>
                </form>
            </div>
        </section><!-- End container -->
    </div><!-- End header-top -->
    <header id="header">
        <section class="container clearfix">
            <div class="logo"><a href="/"><img alt="" src="../assets/images/logo.png"></a></div>
            <nav class="navigation">
                <ul>
                    <li><a href="/">blog</a>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/">Home 2</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/admin/">Admin</a>
                    </li>
                </ul>
            </nav>
        </section><!-- End container -->
    </header><!-- End header -->